div.fixed{
  position: fixed;
  border: 3px solid #000000;
  background-color: black;
  padding-right: 10px;
  padding-left: 10px;
}

div.description{
 font-size: 110%;
}

div.estimate{
  border: 3px solid #000000;
  background-color: black;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 100%;
}

div.region-intro{
  font-size: 110%;
}

a {
  color: #ffffff;
}
